<template>
  <DACard v-for="card in cards" :key="card.companyName" v-bind="card" />
</template>

<script>
import { ref } from 'vue';
import DACard from 'components/DACard.vue';

const linksList = [
  {
    date: '12/02/2022',
    companyName: 'Hewlett Packard Recycling Center',
  },
  {
    date: '11/03/2022',
    companyName: 'Acer Recycling Center',
  },
  {
    date: '13/03/2022',
    companyName: 'TCL Monitors',
  },
  {
    date: '15/03/2022',
    companyName: 'Chungus Instruments',
  },
  {
    date: '15/03/2022',
    companyName: 'Lenovo Center',
  },
  {
    date: '18/03/2022',
    companyName: 'Asia Pacific University',
  },
];

export default {
  components: { DACard },
  setup() {
    const date = ref('');
    const cn = ref('');
    date.value = 'asghar';
    cn.value = 'abbas';
    return {
      date,
      cn,
      cards: linksList,
    };
  },
};
</script>
