<template>
  <div class="q-pa-md">
    <q-table
      ref="tableRef"
      title="Recycler Inventory System"
      :rows="rows"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      v-model:selected="selected"
      selection="multiple"
      :selected-rows-label="getSelectedString"
      :loading="loading"
      :filter="filter"
      @request="onRequest"
      @selection="onSelection"
      binary-state-sort
    >
      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-space></q-space>
        <q-btn color="primary" icon-right="archive" label="Export To CSV" no-caps @click="exportTable"/>
      </template>

    </q-table>
    <div class="q-mt-md">
        Selected: {{ JSON.stringify(selected) }}
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue'
import { exportFile, useQuasar } from 'quasar'

const getData = async () => {
  const res = await fetch('/report')
  const res2 = await res.json()
  return res2
}

const columns = [
  // {
  //   name: 'desc',
  //   required: true,
  //   label: 'Recycler Inventory Table',
  //   align: 'left',
  //   field: row => row.name,
  //   format: val => `${val}`,
  //   sortable: true
  // },
  //{ name: 'id', align: 'center', label: 'ID', field: 'id', sortable: true },
  { name: 'itemName',   align: 'center',      label: 'Item Name', field: 'itemName', sortable: true },
  { name: 'itemCode',   align: 'center',      label: 'Item Code', field: 'itemCode', sortable: true },
  { name: 'category',   label: 'Category',    field: 'category', sortable: true },
  { name: 'quantity',   label: 'Quantity',    field: 'quantity', sortable: true },
  { name: 'condition',  label: 'Condition',   field: 'condition', sortable: true },
  { name: 'note',       label: 'Note',        field: 'note' },
  { name: 'company',    label: 'Company',     field: 'company' },
  { name: 'filename',   label: 'Filename',    field: 'filename' },
  { name: 'createdAt',  label: 'Created At',  field: 'createdAt' },
  { name: 'updatedAt',  label: 'Updated At',  field: 'updatedAt' },
]

const originalRows = [
  {
    id: 1,
    itemName: 'Item 1',
    itemCode: 'Code 1',
    category: 'Category 1',
    quantity: 'Quantity 1',
    condition: 'Condition 1',
    note: 'Note 1',
    company: 'c 1',
    filename: 'f 1',
    createdAt: 'ca 1',
    updatedAt: 'ua 1'
  },
    {
    id: 2,
    itemName: 'Item 1',
    itemCode: 'Code 1',
    category: 'Category 1',
    quantity: 'Quantity 1',
    condition: 'Condition 1',
    note: 'Note 1',
    company: 'c 1',
    filename: 'f 1',
    createdAt: 'ca 1',
    updatedAt: 'ua 1'
  },
]

function wrapCsvValue(val, formatFn) {
    let formatted = formatFn !== void 0 ? formatFn(val) : val
    formatted = formatted === void 0 || formatted === null ? '' : String(formatted)
    formatted = formatted.split('"').join('""')
    return `"${formatted}"`
}

export default {
  setup () {
    const $q = useQuasar()

    const selected = ref([])
    const lastIndex = ref(null)
    const tableRef = ref(null)

    const rows = ref([])
    const filter = ref('')
    const loading = ref(false)
    const pagination = ref({
      sortBy: 'desc',
      descending: false,
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 10
    })

    // (async () => {
    //   const a = await fetch('/reportMonthly');
    //   const b = await a.json();
    //   console.log('b is here',b)
    //   })()

    // emulate ajax call
    // SELECT * FROM ... WHERE...LIMIT...
    async function fetchFromServer (startRow, count, filter, sortBy, descending) {
      // const originalRows = getData()// .then((a)=>console.log('lmao', a))
      // const originalRows = await fetch('/report');
      // const originalRows = await getData()
      const data = filter
        ? originalRows.filter(row => row.name.includes(filter))
        : originalRows.slice()

      // handle sortBy
      if (sortBy) {
        const sortFn = sortBy === 'desc'
          ? (descending
              ? (a, b) => (a.name > b.name ? -1 : a.name < b.name ? 1 : 0)
              : (a, b) => (a.name > b.name ? 1 : a.name < b.name ? -1 : 0)
            )
          : (descending
              ? (a, b) => (parseFloat(b[ sortBy ]) - parseFloat(a[ sortBy ]))
              : (a, b) => (parseFloat(a[ sortBy ]) - parseFloat(b[ sortBy ]))
            )
        data.sort(sortFn)
      }

      return data.slice(startRow, startRow + count)
    }

    // emulate 'SELECT count(*) FROM ...WHERE...'
    function getRowsNumberCount (filter) {
      if (!filter) {
        return originalRows.length
      }
      let count = 0
      originalRows.forEach(treat => {
        if (treat.name.includes(filter)) {
          ++count
        }
      })
      return count
    }

    function onRequest (props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination
      const filter = props.filter

      loading.value = true

      // emulate server
      setTimeout(() => {
        // update rowsCount with appropriate value
        pagination.value.rowsNumber = getRowsNumberCount(filter)

        // get all rows if "All" (0) is selected
        const fetchCount = rowsPerPage === 0 ? pagination.value.rowsNumber : rowsPerPage

        // calculate starting row of data
        const startRow = (page - 1) * rowsPerPage

        // fetch data from "server"
        const returnedData = fetchFromServer(startRow, fetchCount, filter, sortBy, descending)

        // clear out existing data and add new
        rows.value.splice(0, rows.value.length, ...returnedData)

        // don't forget to update local pagination object
        pagination.value.page = page
        pagination.value.rowsPerPage = rowsPerPage
        pagination.value.sortBy = sortBy
        pagination.value.descending = descending

        // ...and turn of loading indicator
        loading.value = false
      }, 1500)
    }

    onMounted(() => {
      // get initial data from server (1st page)
      onRequest({
        pagination: pagination.value,
        filter: undefined
      })
    })

    return {
      selected,
      lastIndex,
      tableRef,
      filter,
      loading,
      pagination,
      columns,
      rows,

      onRequest,

      getSelectedString () {
          return selected.value.length === 0 ? '' : `${selected.value.length} record${selected.value.length > 1 ? 's' : ''} selected of ${rows.value.length}`
      },

    onSelection ({ rows, added, evt }) {
        if (rows.length === 0 || tableRef.value === void 0) {
            return
        }

        const row = rows[ 0 ]
        const filteredSortedRows = tableRef.value.filteredSortedRows
        const rowIndex = filteredSortedRows.indexOf(row)
        const localLastIndex = lastIndex.value

        lastIndex.value = rowIndex
        document.getSelection().removeAllRanges()

        if ($q.platform.is.mobile === true) {
          evt = { ctrlKey: true }
        }
        else if (evt !== Object(evt) || (evt.shiftKey !== true && evt.ctrlKey !== true)) {
          selected.value = added === true ? rows : []
          return
        }

        const operateSelection = added === true
          ? selRow => {
            const selectedIndex = selected.value.indexOf(selRow)
            if (selectedIndex === -1) {
              selected.value = selected.value.concat(selRow)
            }
          }
          : selRow => {
            const selectedIndex = selected.value.indexOf(selRow)
            if (selectedIndex > -1) {
              selected.value = selected.value.slice(0, selectedIndex).concat(selected.value.slice(selectedIndex + 1))
            }
          }

        if (localLastIndex === null || evt.shiftKey !== true) {
          operateSelection(row)
          return
        }

        const from = localLastIndex < rowIndex ? localLastIndex : rowIndex
        const to = localLastIndex < rowIndex ? rowIndex : localLastIndex
        for (let i = from; i <= to; i += 1) {
          operateSelection(filteredSortedRows[ i ])
        }
    },

      exportTable () {
        // naive encoding to csv format
        const content = [columns.map(col => wrapCsvValue(col.label))].concat(
          rows.value.map(row => columns.map(col => wrapCsvValue(
            typeof col.field === 'function'
              ? col.field(row)
              : row[ col.field === void 0 ? col.name : col.field ],
            col.format
          )).join(','))
        ).join('\r\n')

        const status = exportFile(
          'table-export.csv',
          content,
          'text/csv'
        )

        if (status !== true) {
          $q.notify({
            message: 'Browser denied file download...',
            color: 'negative',
            icon: 'warning'
          })
        }
      }
    }
  }
}
</script>
