<template>
    <q-page padding>
        <div id="frmLogin" class="row items-center justify-center">
            <q-form class="q-pa-md q-gutter-md" @submit.prevent="loginSubmit" method="post">
                <q-input outlined v-model="username" class="full-width" label="Username">
                </q-input>
                <q-input outlined v-model="password" class="full-width" label="OTP">
                </q-input>
                <q-btn id="btnLogin" color="blue" padding="md" class="full-width" label="Login" type="submit" :loading="submitted">
                    <template v-slot:loading>
                        <q-spinner-facebook></q-spinner-facebook>
                    </template>
                </q-btn>
            </q-form>
        </div>
    </q-page>
</template>

<script lang="ts">
import { ref } from 'vue'
//import { Router}
//import router from '@/router'

export default {
    name: 'PartnerLogin',
    setup() {
        // const route = useRoute()
        let submitted = ref(false);
        let username = ref('');
        let password = ref('');
        //this.$store.dispatch()
        async function loginSubmit() {
            console.log('Submitted: ', username.value, password.value, ' end');
            const loginres = await fetch('http://localhost:3030/bizpartnerlogin', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ username: username.value, password: password.value }),
            });
            if (loginres.status===200) {
              window.location.assign('http://localhost:8080/#/filedrop') // polan b
              submitted.value=true;
            }
        }
        // const postLogin = fetch('/health?aaaa=1');
        // (async () => { await fetch('/health?aaaa=1') })();
      return {
          loginSubmit,
          submitted,
          username,
          password,
      };
    },
}
</script>
