<template>
    <q-page padding>
        <div class="q-pa-md">
            <div class="q-gutter-md row items-start">
                <q-uploader
                    style="max-width: 300px"
                    auto-upload
                    url="http://localhost:3030/uploadfile"
                    label="Filtered (.csv Only)"
                    :filter="checkFileType"
                    @rejected="onRejected"
                ></q-uploader>
            </div>
        </div>
    </q-page>
</template>

<script>
import { useQuasar } from 'quasar'
export default {
    setup() {
        const $q = useQuasar()

        function checkFileType(file) {
            console.log(file)
            return file.filter(file=>file.type==='application/vnd.ms-excel');
        }

        function doesItBlend() {
            console.log('u done it, congrasion');
        }

        function onRejected(rejectedEntries) {
            $q.notify({
                type: 'negative',
                message: 'Error: File is not accepted'
            })
        }

        return {
            checkFileType,
            onRejected,
            doesItBlend
        }
    }
}
</script>
