<template>
  <div class="q-pa-md row items-start q-gutter-md">
    <q-card class="my-card" flat bordered>
      <q-card-section>
        <div class="text-overline text-orange-9">{{ date }}</div>
        <div class="text-h5 q-mt-sm q-mb-xs"></div>
        <div class="row">
          <div class="col text-h5">
            {{ companyName }}
          </div>
          <div class="q-gutter-sm">
            <q-btn
              color="primary"
              icon="download"
              label="Download"
              @click="onClickDownload"
            />
            <q-btn
              color="green"
              icon="thumb_up_alt"
              label="Submit"
              @click="onClickSubmit"
            />
            <q-btn
              color="red"
              icon="thumb_down_alt"
              label="Reject
            "
              @click="onClickReject"
            />
            <q-btn
              color="grey"
              label="preview"
              :icon="expanded ? 'preview' : 'preview'"
              @click="expanded = !expanded"
            />
          </div>
        </div>
      </q-card-section>

      <q-slide-transition>
        <div v-show="expanded">
          <q-separator />
          <q-card-section class="text-subitle2"> table </q-card-section>
        </div>
      </q-slide-transition>
    </q-card>
  </div>
</template>

<script>
import { ref } from 'vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'DACard',
  props: {
    date: {
      type: String,
      required: true,
    },
    companyName: {
      type: String,
      required: true,
    },
  },
  setup() {
    return {
      expanded: ref(false),
      onClickDownload() {
        console.log('Clicked on download');
      },
      onClickSubmit() {
        console.log('Clicked on Submit');
      },
      onClickReject() {
        console.log('Clicked on Reject');
      },
    };
  },
});
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 100vw
</style>
