<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-toolbar-title class="absolute-center">
          <q-avatar>
            <img src="https://banner2.cleanpng.com/20181124/xiv/kisspng-logo-dell-latitude-1-portable-network-graphics-fo-har-gau-icons-download-for-free-in-png-and-svg-5bf96867e534f0.5087203515430718479388.jpg"
            />
          </q-avatar>
        Dell Recycling Inventory
        </q-toolbar-title>
      </q-toolbar>

      <q-tabs align="center">
        <q-route-tab to="/page1" label="Page One" />
        <q-route-tab to="/page2" label="Page Two" />
        <q-route-tab to="/page3" label="Page Three" />
      </q-tabs>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>