<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title class="absolute-center">
          <q-avatar>
            <img
              src="https://banner2.cleanpng.com/20181124/xiv/kisspng-logo-dell-latitude-1-portable-network-graphics-fo-har-gau-icons-download-for-free-in-png-and-svg-5bf96867e534f0.5087203515430718479388.jpg"
            />
          </q-avatar>
          Dell Recycling Partner
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {};
</script>
